@{
    ViewData["Title"] = "Home Page";
}
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Bem vindo a <span>EcoAguas</span></h1>
        <h2>A companhia de águas mais fresca de Portugal!</h2>
        <div class="d-flex">
            <a class="btn-get-started scrollto" asp-area="" asp-controller="Home" asp-action="About">Sobre nós</a>
            <a href="https://www.youtube.com/watch?v=d5RehiMZQmc" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
    </div>
</section>